@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header{
  padding-top: 100px;
  padding-left: 630px;
  padding-bottom: 50px;
  position: relative;
}

span{
  position: absolute;
  right: 15px;
  transform: translate(0, -50%);
  top: 50%;
  cursor: pointer;
  font-size: 20px;
}
.fa{
  color: black;
}


.container{
  padding: 30px 20px;
  background-color: #F0EEED;
  position: center;

}

.home_section{
  position: center;
}

img{
  width: 100%;
  opacity:0.8;
}

.text_assistenza{
  margin-top: 20px;
  text-align: center;
}

.container_2{
  padding: 10px 50px;
  background-color: #F0EEED;
  text-align: center;
}

.domande{
  opacity: 0.6;
}

.container_faq{
  padding:50px 150px;
  background-color: #F0EEED;
}

.sezione{
  padding:40px;
  background-color: white;
  border-style: groove;
  margin-top: 10px;
}

.sezione h3{
  font-size: 20px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #34495e;
  border: groove black;
  padding: 10px 300px;
  font-size: 16px;
  cursor: pointer;
  float: left;
  width: 100%;
  display: block;
}

.dropbtn i{
  color: white;
  margin-left: 3px;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  padding: 15px;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.messi {
  display: none;
  position: relative;
  background-color: #F0EEED;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border: groove;
  margin-top: 50px;
}

/* Links inside the dropdown */
.messi p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 25px;
}

/* Change color of dropdown links on hover */
.messi a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.testo{
  color:#F0EEED;
}

.testo i{
  font-size: 20px;
}

.contact_area{
  background-color: #F0EEED;
  margin-bottom:15px;

}

.contact_button{
  background-color: #34495e;
  color: #F0EEED;
  padding: 10px 20px;
  border: black;
  border-style: groove;
  margin-top: 10px;
  margin-bottom: 50px;
}







